body {
    font-family: sans-serif;
}

h1{
    color: black;
    text-align:center;
    font-family: sans-serif;
}
.overall-background{
    background-color:white;
}
.firsttable {
    font-size:x-large;
    margin: 30px 0;
    float: left;
}
.map {
    width:95vw;
    align: center;
}

.bar{
    width:95vw;
}
.row {
  display: flex;
  width:100vw
}

.secondtable {
    font-size:large;
    margin: 30px 0;
    float: left;
}
.lineC{
    float:left;
    margin-top:20px;
    width:95vw;
}
.dd1{
    width: 12.4vw;
    display: inline-block;
}
.dd2{
    width: 9.35vw;
    display: inline-block;
}
#casesordeaths2{
    width: 9.35vw;
}
.pie{
    float:right;
    margin-top:10px;
    margin-left:10vw;
    width:43.6vw;

}
.fulltable{
    float:left;
    width:43.87vw;
}
.title1{
    font-size:0.93vw;
}

.title2{
    font-size:0.93vw;
    border-top: 2px solid black;
}

.title3{
    font-size:0.93vw;
    border-top: 2px solid black;
}

.title4{
    border-top: 2px solid black;
}
.title5{
    font-size:1.86;
    margin-bottom:10px;
}
.title6{
    font-size:1.86vw;
    margin-bottom:10px;
}

.plates {
   margin-left: 1%;
   margin-right: 1%;
   margin-bottom: 65px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}

.plate {
    border-radius: 25px;
    width: 14.35vw;
    height: 87px;
    background-color: #ededee;
    vertical-align: top;
    box-shadow: none;
    border: 0px solid #ededee;
    margin-right: 0%;
    margin-left: 0%;

}

.plate h3 {
    text-align: center;
}

.plate p {
    padding: .5rem;
}

.plate h5 {
    text-align: center;
    padding: .2rem;
}
.plates1 {
   margin-left: 20%;
   margin-right: 20%;
   margin-bottom: 65px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}
.plate1 {
    border-radius: 25px;
    width: 14.35vw;
    height: 87px;
    background-color: #ededee;
    vertical-align: top;
    box-shadow: none;
    border: 0px solid #ededee;
    margin-right: 0%;
    margin-left: 0%;

}

.plate1 h3 {
    text-align: center;
}

.plate1 p {
    padding: .5rem;
}

.plate1 h5 {
    text-align: center;
    padding: .2rem;
}
